<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.LookhouseMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.chen.pojo.Lookhouse">
                    <id column="id" property="id"/>
                    <result column="houses_id" property="housesId"/>
                    <result column="customer_id" property="customerId"/>
                    <result column="look_date" property="lookDate"/>
                    <result column="remarks" property="remarks"/>
                    <result column="date" property="date"/>
                    <result column="djr" property="djr"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="xgr" property="xgr"/>
                    <result column="stutas" property="stutas"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, houses_id, customer_id, look_date, remarks, date, djr, update_time, xgr, stutas
        </sql>

</mapper>